@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    font-family: "Ubuntu";
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
         url("fonts/ubuntu-light.woff2") format("woff2"),
         url("fonts/ubuntu-light.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "Ubuntu";
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
         url("fonts/ubuntu-regular.woff2") format("woff2"),
         url("fonts/ubuntu-regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-family: "Ubuntu";
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
         url("fonts/ubuntu-medium.woff2") format("woff2"),
         url("fonts/ubuntu-medium.woff") format("woff");
}
