html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html *, html ::after, html ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    font-family: "Ubuntu", Tahoma, sans-serif;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    height: 35px;
    padding: 7px 10px;
    font-size: 18px;
    line-height: 1.25em;
    color: #000;
    background-color: #fff;
    border: 1px solid #daab5d;
    outline: none;
    transition: all 0.3s ease;
}

textarea {
    padding-top: 5px;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow:  0 0 5px rgba(218, 171, 93, 1);
}
