input.error {
    background-color: #f3b2b2 !important;
    border-color: #fb5258 !important;
}

input.error:focus {
    box-shadow: 0 0 5px #fb5258 !important;
}

label.error {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin-bottom: 0;
    padding-top: 1px;
    font-size: 12px;
    line-height: 1;
    text-align: right;
    color: #fb5258;
}
