.first-screen {
    padding-top: 27px;
    background-color: #090837;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.no-js .first-screen,
.no-webp .first-screen {
    background-image: url("img/bg/first-screen.jpg");
}

.webp .first-screen {
    background-image: url("img/bg/first-screen.webp");
}