.main-header {
    font-weight: 300;
    background-color: rgba(5, 5, 5, 0.66);
}

.main-header__logo {
    display: block;
    margin-right: 20px;
}

.main-header__logo[href] {
    cursor: pointer;
}

.main-header__nav {
    margin-left: auto;
}

.main-header__menu {
    @include reset-list;
    display: flex;
}

.main-header__menu li {

}

.main-header__menu li:last-child {
    margin-right: 0;
}

.main-header__menu a {
    display: flex;
    align-items: center;
    height: 82px;
    padding: 0 28px;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-header__menu li:last-child a {
    padding-right: 0;
}

.main-header__menu a:hover {
    text-decoration: none;
    color: #c3a660;
}

/***** Style for hamburger *****/
.main-header__hamburger {
    position: relative;
    display: none;
    width: 45px;
    height: 42px;
    margin-left: auto;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.main-header__hamburger span,
.main-header__hamburger::before,
.main-header__hamburger::after {
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.main-header__hamburger::before {
    content: '';
    top: 0;
    transition: transform 0.5s, top 0.2s;
}

.main-header__hamburger::after {
    content: '';
    top: 10px;
    transition: all 0.5s;
    transition-delay: 0.1s;
}

.main-header__hamburger span {
    top: 5px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
}

.show-main-nav .main-header__hamburger::before {
    top: 9px;
    transform: rotate(135deg);
}

.show-main-nav .main-header__hamburger::after {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
}

.show-main-nav .main-header__hamburger span {
    top: 5px;
    transform: rotate(-135deg);
}
/***** End style for hamburger *****/

@media (max-width: 1260px) and (min-width: 576px) {
    .main-header .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 1260px) {
    .main-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        background-color: rgba(5, 5, 5, 0.9);
    }

    .main-header__logo {
        margin-left: 20px;
    }

    .main-header__logo img {
        width: 100px;
    }

    .main-header__nav {
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        max-height: calc(100% - 50px);
        background-color: rgba(5, 5, 5, 0.9);
        background-clip: content-box;
        overflow-y: auto;
        transition: opacity 0.2s linear 0s, visibility 0s linear 0.2s;
        opacity: 0;
        visibility: hidden;
    }

    .show-main-nav .main-header__nav {
        opacity: 1;
        visibility: visible;
    }

    .main-header__menu {
        margin-top: 50px;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: center;
    }

    .main-header__menu a {
        height: auto;
        padding: 15px 0;
        font-size: 27px;
        text-transform: uppercase;
    }
    
    .main-header__hamburger {
        display: block;
        margin-right: 10px;
    }
}

@media screen and (max-width: 576px) {
    .main-header__logo {
        margin-left: 0;
    }

    .main-header__hamburger {
        margin-right: 0;
    }
}