.offer-index {

}

.offer-index .container {
    position: relative;
}

.offer-index__box {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 637px;
    padding-top: 100px;
    padding-bottom: 188px;
}

.offer-index__title {
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 48px;
    color: #fff;
}

.offer-index__button {
    min-width: 358px;
    padding: 23px 15px;
    font-size: 30px;
    color: #100832;
    background: #b79c58;
    box-shadow: 0 4px 7px rgba(196, 145, 17, 0.54),
                0 0 27.52px 15.48px rgba(172, 146, 81, 0.1);

}

.offer-index__astrology {
    position: absolute;
    right: -198px;
    bottom: 108px;
    z-index: 1;
    opacity: 0.1;
}

.offer-index__astrology img {
    max-width: inherit;
}

@media screen and (max-width: 1260px) {
    .offer-index__astrology {
        right: -90px;
    }

    .offer-index__astrology img {
        width: 580px;
    }
}

@media screen and (max-width: 768px) {
    .offer-index__title {
        font-size: 44px;
    }

    .offer-index__astrology {
        right: -85px;
    }

    .offer-index__astrology img {
        width: 510px;
    }
}

@media screen and (max-width: 576px) {
    .offer-index__astrology {
        bottom: 135px;
    }
}

@media screen and (max-width: 470px) {
    .offer-index__astrology {
        right: auto;
        left: 50px;
    }

    .offer-index__astrology img {
        width: 430px;
    }
}

@media screen and (max-width: 388px) {
    .offer-index__button {
        min-width: 290px;
    }
}
